<html>
<head>
	<title>Example - example-ngRepeat-production</title>
	<script src="https://code.angularjs.org/1.7.8/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.7.8/angular-animate.js"></script>
	<script type="text/javascript" src="withAngularScript.js"></script>
</head>
	<body ng-app="ngRepeat">
		<div ng-controller="repeatController">
			<input type="button" value="add" ng-click="addText()"/>
			<div class="container">
				<div class="array" ng-repeat="friend in friends track by $index">
					<input type="button" ng-click="decCount($index)" value="-">
					<input type="button" value="{{friend.value}}" ng-style="{'background-color': '{{friend.colour}}'}">
					<input type="button" ng-click="incCount($index)" value="+">
				</div>
				<div class="array" ng-if="results.length === 0">
					<strong>No results found...</strong>
				</div>
			</div>
		</div>
	</body>
</html>