<html>
	<head>
		<title>Example</title>
		<script src="https://code.angularjs.org/1.7.8/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.7.8/angular-animate.js"></script>
		<script type="text/javascript" src="withAngularScript.js"></script>
		<link rel="stylesheet" type="text/css" href="withAngularScript.css">
	</head>
	<body>
		<div ng-app="MyApp" ng-controller="MyController">

	        <div class="container">
				<div class="array" ng-repeat="friend in friends track by $index">
					<input type="button" ng-click="DecCount($index)" value="-" ng-style="{'background-color':friend.color}">
					<input type="button" value="{{friend.value}} {{friend.txt}}" ng-style="{'background-color':friend.color}" ng-click="removeButton()">
					<input type="button" ng-click="IncCount($index)" value="+" ng-style="{'background-color':friend.color}">
				</div>
			</div>
			<div class="mylist" ng-hide="addVisible">
	        	<input id="add" type="button" value="add" ng-click="ShowDiv()" />
	        </div>
	         <div ng-show = "isVisible">
	          label: <input type=text ng-model="textValue" ><br/>
	          <div ng-repeat="color in colors">
	          	 <div class="selectbox" ng-style="{'background-color': color.name}" ng-click="ApplyColor(color.name)"></div>
	          </div>
	          <input type=submit ng-model="submit" ng-click="SubmitValue()">
	        </div>
		</div>
	 </body>
</html>